#About {
	padding: 2rem;
	padding-top: 0;
	margin: auto;
	max-width: 1400px;
	main {
		.About {
			min-height: calc(225px + 4rem);
			padding: 1rem;
			.FamilyPhoto {
				width: 400px;
				float: left;
				margin: 2rem;
				margin-right: 3rem;
				position: relative;
				img {
					aspect-ratio: 4/3;
					object-fit: contain;
					object-position: center;
				}
				&::before {
					content: '';
					position: absolute;
					left: -10px;
					top: -10px;
					border: 2px solid var(--JOsborne-blue);
					width: 420px;
					height: 245px;
				}
				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: -20px;
					border: 1px solid white;
					width: 400px;
					height: 265px;
				}
			}
			p {
				line-height: 2.2;
				font-weight: 200;
			}
		}
		.Certifications {
			clear: both;
			margin-top: 2rem;
			div {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 4rem;
				text-align: center;
				.Award {
					flex-direction: column;
					gap: 0;
					max-width: 225px;
					width: max-content;
					svg {
						font-size: 5rem;
					}
					h4 {
						margin-bottom: 0;
					}
					p {
						font-size: 0.8rem;
						font-weight: 200;
						line-height: 1.8;
					}
				}
			}
		}
		hr {
			border-color: var(--JOsborne-blue);
			width: 60%;
			margin: 2rem auto;
		}
		.Technology {
			clear: both;
			max-width: 80%;
			margin: auto;
			h3 {
				text-align: center;
				font-size: 2rem;
			}
			div {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				.TechBlock {
					cursor: pointer;
					flex-direction: column;
					gap: 0;
					width: 175px;
					padding: 1rem;
					h4 {
						margin-bottom: 0;
					}
					img {
						aspect-ratio: 1/1;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	#About {
		padding: 0 0.25rem;
		main {
			.About {
				.FamilyPhoto {
					float: none;
					width: 300px;
					margin: 0 auto;
					margin-bottom: 2rem;
					&::before {
						top: 5px;
						width: 320px;
						height: 215px;
					}
					&::after {
						top: -5px;
						left: -5px;
						width: 310px;
						height: 235px;
					}
				}
				p {
					text-align: center;
					font-size: 0.9rem;
				}
			}
			.Certifications {
				margin-top: 1rem;
				div {
					gap: 2rem;
				}
			}
			.Technology {
				max-width: 100%;
				margin-bottom: 2rem;
				div {
					gap: 0;
					.TechBlock {
						padding: 0.5rem;
					}
				}
			}
		}
	}
}
