#Admin {
	main {
		padding: 0 1rem;
		h1 {
			margin-top: 0;
		}
		h2 {
			margin: 0;
			font-size: 1.4rem;
		}
		.Forms {
			display: flex;
			width: 100%;
			button {
				display: flex;
				flex: 1;
				justify-content: center;
				align-items: center;
				font-size: 1rem;
				padding: 0.5rem;
				text-align: center;
				min-width: 200px;
				background: transparent;
				border: 1px solid white;
				cursor: pointer;
				&:hover:not(.selected) {
					background: var(--primary-faded);
				}
				&.selected {
					background: var(--primary-color);
				}
				svg {
					margin: 0 0.5rem;
					font-size: 1.25rem;
					fill: white;
					color: white;
					path {
						stroke: white;
					}
				}
			}
		}
		.Menu {
			margin-top: 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			button {
				display: flex;
				align-items: center;
				padding: 0.5rem 1rem;
				background: transparent;
				color: white;
				border: 1px solid white;
				border-radius: 5px;
				cursor: pointer;
				font-size: 1rem;
				svg {
					margin-right: 0.5rem;
					font-size: 1.25rem;
				}
			}
			.viewSelector {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.dropdown {
					position: relative;
					label {
						padding: 0.25rem 1rem;
						font-size: 1rem;
					}
					div {
						font-size: inherit;
						border: 1px solid var(--light-color);
						display: flex;
						align-items: center;
						cursor: pointer;
						input {
							padding: 0.5rem;
							padding-left: 1rem;
							outline: none;
							border: none;
							border-radius: 5px;
							background: inherit;
							color: inherit;
							font-size: inherit;
							width: 150px;
							cursor: pointer;
						}
						svg {
							position: absolute;
							right: 1rem;
							fill: white;
							cursor: pointer;
						}
					}
					.options {
						position: absolute;
						padding-bottom: 0.5rem;
						top: 100%;
						right: 0%;
						background: black;
						display: block;
						width: 100%;
						border: 1px solid var(--light-color);
						z-index: 2;
						div {
							display: block;
							width: 100%;
							border: none;
							font-size: inherit;
							padding: 0.5rem;
							padding-left: 1rem;
							white-space: nowrap;
							overflow: hidden;
							cursor: pointer;
							text-overflow: ellipsis;
							&.selected {
								background: var(--light-color);
							}
							&:hover {
								background: var(--light-faded);
							}
						}
					}
				}
				.viewType {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid var(--light-color);
					button {
						padding: 0.5rem;
						border-radius: 0;
						border: 1px solid var(--light-color);
						border-left: none;
						&:hover {
							background: var(--light-color);
						}
						&.Selected {
							background: var(--light-faded);
						}
						svg {
							font-size: inherit;
							margin-right: 0;
							cursor: pointer;
						}
					}
				}
			}
		}
		// TABLE STYLING
		.Collection {
			width: 100%;
			table-layout: fixed;
			margin-top: 1rem;
			border-collapse: collapse;
			&[data-table='Projects'] {
				table-layout: auto;
				th:first-child,
				td:first-child {
					min-width: 200px;
					max-width: 350px;
				}
			}
			thead {
				border-bottom: 2px solid white;
			}
			th {
				padding: 0.5rem 1rem;
				background: var(--light-color);
			}
			td {
				padding: 0.5rem 1rem;
				text-align: center;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				a:has(svg) {
					margin-right: 0.5rem;
				}
			}
			th:first-child,
			td:first-child {
				text-align: left;
			}
			td:first-child {
				cursor: pointer;
			}
			td.last {
				width: 1px;
				white-space: nowrap;
			}
		}

		// COMMUNICATION LAYOUT
		.Communication {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: calc(100% - 3rem);
			div:first-child {
				max-height: 40vh;
				overflow-y: scroll;
			}
		}

		// GRID STYLING
		.Grid {
			display: grid;
			gap: 1rem;
			padding-top: 1rem;
			.Card {
				border: 1px solid var(--light-color);
				cursor: pointer;
				&:hover {
					border: 1px solid var(--light-faded);
					background: var(--light-color);
				}
			}
		}
		#Clients.Grid {
			grid-template-columns: repeat(auto-fill, 350px);
			.Card {
				padding: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				img {
					object-fit: contain;
					padding: 1rem 2rem;
					width: 100%;
				}
				h3 {
					margin: 0;
					padding: 0.5rem 1rem;
					padding-top: 0;
					text-align: center;
					font-weight: 600;
				}
				div {
					p {
						padding: 0 0.5rem;
						margin: 0;
						text-align: center;
					}
				}
			}
		}
		#Users.Grid {
			grid-template-columns: repeat(auto-fill, 350px);
			.Card {
				padding: 0.5rem;
				display: grid;
				grid-template-columns: 1fr minmax(225px, 3fr);
				justify-content: center;
				img,
				svg {
					align-self: center;
					object-fit: cover;
					object-position: center;
					padding: 0.25rem;
					width: 75px;
					height: 75px;
					border-radius: 75px;
				}
				div > * {
					padding: 0.5rem;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				h3 {
					font-size: 1rem;
					padding-top: 0.5rem;
					margin: 0;
				}
				p {
					font-style: italic;
					font-size: 0.9rem;
					font-weight: 400;
					padding: 0.25rem;
					margin: 0;
					svg {
						border-radius: 0;
						padding: 0;
						font-size: 1.25rem;
						width: auto;
						height: 1.25rem;
						margin-right: 0.5rem;
						stroke: white;
						path {
							stroke: inherit;
						}
					}
				}
			}
		}
		#Projects.Grid {
			grid-template-columns: repeat(2, 1fr);
			.Card {
				display: grid;
				grid-template-columns: 2fr 3fr;
				justify-content: center;
				padding: 1rem;
				.Visuals {
					.Company {
						display: flex;
						justify-content: center;
						align-items: center;
						.CompanyLogo {
							object-fit: contain;
						}
						span {
							margin-left: 1rem;
						}
					}
					.Images {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						gap: 0.25rem;
					}
				}
				.Info {
					padding: 0.5rem;
					.Project h3 {
						font-size: 1rem;
						margin: 0 0.5rem;
					}
					.Technology {
						padding: 0.5rem 0;
						display: flex;
						gap: 0.5rem;
						// grid-template-columns: repeat(6, 1fr);
						img {
							object-fit: contain;
						}
					}
					.rteHTML {
						font-size: 0.8rem;
						display: -webkit-box;
						line-height: 1.6;
						-webkit-line-clamp: 8;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
		#Communications.Grid {
			grid-template-columns: repeat(2, 1fr);
		}
		#Invoices.Grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

// MESSENGER
#Messages {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 0.5rem;
	.Me,
	.Reply {
		display: flex;
		gap: 1rem;
		grid-column: span 7;
		.SenderImg {
			position: relative;
			width: 30px;
			height: 30px;
			font-size: 30px;
			img {
				border-radius: 30px;
			}
		}
		.message {
			border-radius: 10px;
			border: 1px solid var(--light-faded);
			background: whitesmoke;
			color: black;
			padding: 0.5rem;
			width: 100%;
			position: relative;
			&::before {
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				left: -10px;
				right: auto;
				top: 5px;
				bottom: auto;
				border: 5px solid;
				border-color: whitesmoke transparent transparent whitesmoke;
				transform: rotate(180deg);
			}
			p {
				text-align: left;
				margin-block-start: 0;
				margin-block-end: 0;
			}
		}
		.TimeSent {
			font-size: 0.75rem;
			font-style: italic;
		}
	}
	.Me {
		flex-direction: row-reverse;
		grid-column-start: 2;
		grid-column-end: 9;
		.message {
			border: 1px solid var(--primary-color);
			background: var(--primary-color);
			color: white;
			&::before {
				right: -10px;
				left: auto;
				border-color: var(--primary-color) transparent transparent
					var(--primary-color);
				transform: rotate(0deg);
			}
			p {
				text-align: right;
			}
		}
		.TimeSent {
			text-align: right;
		}
	}
}

// USE EVERYWHERE
.rteHTML {
	p {
		text-align: left;
		margin-block-start: 0;
		margin-block-end: 0;
	}
}
