// SIDE PANEL FORMS
.SidePanel {
	position: absolute;
	right: 0;
	top: 0;
	width: 350px;
	height: 100vh;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 2px solid var(--primary-color);
	background: rgb(37, 86, 178);
	background: linear-gradient(
		90deg,
		var(--primary-dark) 0%,
		rgba(2, 0, 36, 1) 8%
	);
	.ActionMenu {
		padding: 0.5rem 1rem;
		padding-left: 2rem;
		margin-top: 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid white;
		width: 100%;
		svg {
			font-size: 1.5rem;
			cursor: pointer;
		}
	}
	h2 {
		margin: 0;
		margin-top: 1rem;
		padding: 1rem;
		text-align: center;
	}
	form {
		margin-left: 2rem;
		.dropdown {
			display: block;
			position: relative;
			div {
				border: none;
				input {
					padding: 0.5rem 1rem;
					padding-left: 2.25rem;
					font-weight: 200;
					font-size: 1rem;
					border-radius: 5px;
					width: 250px;
					outline: none;
					border: none;
					background: white;
					color: var(--light-color);
				}
				svg {
					position: absolute;
					right: 1.5rem;
					font-size: 1rem;
					fill: var(--primary-dark);
					stroke: var(--primary-dark);
				}
				.Icon {
					font-size: 1.5rem;
					position: absolute;
					left: 6px;
					fill: var(--light-faded);
					&.Date {
						cursor: pointer;
					}
					path {
						stroke: var(--light-color);
					}
				}
			}
			.options {
				width: 250px;
				right: 1rem;
				display: block;
				border: 1px solid var(--light-faded);
				border-top: none;
				z-index: 1;
				div {
					padding-left: 1.5rem;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
		.Container {
			padding: 0 1rem;
			padding-left: 2rem;
			label {
				font-size: 1rem;
			}
		}
	}
}

// DROPDOWN MENUS
.dropdown {
	position: relative;
	div {
		font-size: inherit;
		border: 1px solid var(--light-color);
		display: flex;
		align-items: center;
		cursor: pointer;
		input {
			padding: 0.5rem;
			outline: none;
			border: none;
			background: inherit;
			color: inherit;
			font-size: inherit;
			width: 100px;
			cursor: pointer;
		}
		svg {
			position: absolute;
			right: 1.5rem;
			font-size: 1rem;
		}
	}
	.options {
		position: absolute;
		top: 100%;
		right: 0%;
		background: black;
		display: block;
		width: 100%;
		border: 1px solid var(--light-color);
		div {
			display: block;
			width: 100%;
			border: none;
			font-size: inherit;
			padding: 0.5rem;
			cursor: pointer;
			&.selected {
				background: var(--light-color);
			}
			&:hover {
				background: var(--light-faded);
			}
		}
	}
}

// EDIT MODE FOR  INPUTS
.labelDiv {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	label {
		padding: 0.25rem 1rem;
		font-size: 1.25rem;
		text-align: right;
	}
	.inputDiv {
		position: relative;
		.Icon {
			font-size: 1.5rem;
			position: absolute;
			left: 6px;
			top: 5px;
			fill: var(--light-faded);
			&.Date {
				cursor: pointer;
			}
			path {
				stroke: var(--light-color);
			}
		}
		.ShowPassword {
			font-size: 1.5rem;
			position: absolute;
			left: calc(250px - 1.5rem - 4px);
			cursor: pointer;
			fill: var(--primary-faded);
		}
		input {
			padding: 0.5rem 1rem;
			padding-left: 2.25rem;
			font-weight: 200;
			font-size: 1rem;
			border-radius: 5px;
			width: 250px;
			outline: none;
			border: none;
			background: white;
			color: var(--light-color);
		}
	}
}
// READ-ONLY MODE (VIEW MODE)
.viewDiv {
	display: flex;
	align-items: center;
	.Icon {
		font-size: inherit;
		fill: white;
	}
	div {
		padding: 0.5rem 1rem;
		font-size: inherit;
	}
}
