// SIDE PANEL FORMS
#SidePanel {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	width: 350px;
	min-height: 100vh;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 2px solid var(--primary-color);
	background: rgb(37, 86, 178);
	background: linear-gradient(
		90deg,
		var(--primary-dark) 0%,
		rgba(2, 0, 36, 1) 8%
	);
	&.Lg {
		width: 70vw;
		.ActionMenu {
			padding-right: 0;
		}
		form {
			width: 100%;
			.Container {
				margin: 0 2rem;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 1rem;
				justify-content: center;
				align-items: center;
			}
			.dropdown {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 0.5rem;
				div {
					width: 100%;
				}
				label {
					padding: 0.25rem 1rem;
				}
				input {
					width: 100%;
				}
				.options {
					right: 0;
				}
			}
			// PROJECTS FORM
			.labelDiv {
				&:has([id='Project']) {
					grid-column: span 3;
				}
				&:has([id='URL']) {
					grid-column: span 2;
				}
				&:has([id='Description']) {
					grid-column: span 5;
				}
				.inputDiv {
					width: 100%;
					input {
						width: 100%;
					}
				}
			}
			// COMMUNICATION FORM
			&[name='Communications'] {
				.viewDiv {
					&:has([id='Company']) {
						display: none;
					}
					&:has([id='Subject']) {
						grid-column: span 3;
						svg {
							display: none;
						}
					}
				}
				.dropdown {
					z-index: 1;
					&:has([id='SendTo']) {
						grid-column: span 2;
					}
				}
				.labelDiv {
					&:has([id='Body']) {
						grid-column: span 5;
						z-index: 0;
						.RichText {
							height: 450px;
						}
					}
				}
			}
		}
	}
	h2 {
		margin: 0;
		margin-top: 1rem;
		padding: 1rem;
		text-align: center;
	}
	form {
		margin-left: 2rem;
		.dropdown {
			display: block;
			position: relative;
			div {
				border: none;
				input {
					padding: 0.5rem 2.75rem;
					padding-left: 2.25rem;
					font-weight: 200;
					font-size: 1rem;
					border-radius: 5px;
					width: 250px;
					outline: none;
					border: none;
					background: white;
					color: var(--light-color);
				}
				svg {
					position: absolute;
					right: 1.5rem;
					font-size: 1rem;
					fill: var(--primary-dark);
					stroke: var(--primary-dark);
				}
				.Icon {
					font-size: 1.5rem;
					position: absolute;
					left: 6px;
					fill: var(--light-faded);
					&.Date {
						cursor: pointer;
					}
					path {
						stroke: var(--light-color);
					}
				}
			}
			.options {
				width: 250px;
				right: 1rem;
				display: block;
				border: 1px solid var(--light-faded);
				border-top: none;
				z-index: 1;
				div {
					padding-left: 1.5rem;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
		.Container {
			padding: 0 1rem;
			padding-left: 2rem;
			label {
				font-size: 1rem;
			}
		}
	}
}

// CHECKBOX
div.checkbox {
	padding: 1rem;
	padding-left: 0;
	input {
		margin-left: 1rem;
		width: 1.25rem;
		height: 1.25rem;
		border: 1px solid currentColor;
	}
}

// FILE UPLOADER
// IMAGE STORED IN DATABASE
div.ImageUpload {
	position: relative;
	width: 250px;
	height: 100px;
	margin-bottom: 1rem;
	img {
		object-fit: contain;
		display: block;
		width: 100%;
		height: 100%;
	}
	label.ImageUpload {
		display: flex;
		position: absolute;
		opacity: 0;
		right: 0;
		top: 0;
		text-align: center;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border: 1px solid white;
		color: white;
		&:has(progress) {
			opacity: 1;
		}
		&:hover:not(:has(progress)) {
			opacity: 0.6;
		}
		input {
			display: none;
		}
	}
}

// MULTIPLE IMAGES AVAILABLE
div.MultipleUpload {
	display: grid;
	grid-template-columns: repeat(3, minmax(auto, 1fr));
	grid-template-rows: 1fr 1fr;
	gap: 0.5rem;
}
// NO IMAGE STORED IN DATABASE
label.MultipleUpload,
label.ImageUpload {
	display: flex;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0;
	font-size: 0.9rem;
	padding: 0.5rem;
	cursor: pointer;
	width: 250px;
	height: 100px;
	&:not(:has(img)) {
		border: 1px solid white;
		color: white;
		background: transparent;
	}
	svg {
		font-size: 3rem;
	}
	input {
		display: none;
	}
	img {
		object-fit: contain;
		display: block;
		width: 100%;
		height: 100%;
	}
}

// CLIENT LOGOS
label.ImageUpload[for='Logo'],
div.ImageUpload:has(label[for='Logo']) {
	width: 350px;
	height: 150px;
	margin-bottom: 1rem;
	img {
		object-fit: contain;
		object-position: center;
	}
}

// PROFILE IMAGE SIZING
label.ImageUpload[for='PhotoURL'],
div.ImageUpload:has(label[for='PhotoURL']) {
	width: 250px;
	height: 250px;
	margin-bottom: 1rem;
	img {
		object-fit: cover;
		object-position: center;
		aspect-ratio: 1/1;
	}
}
// MOCK-UP IMAGE SIZING
label.ImageUpload[for='MockUpImg'],
div.ImageUpload:has(label[for='MockUpImg']) {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	width: 300px;
	height: 225px;
	margin: 0 auto;
	margin-bottom: 0.5rem;
	Img {
		object-fit: cover;
		object-position: center;
		aspect-ratio: 4/3;
	}
}

// PROJECT IMAGES SIZING
.MultipleUpload {
	position: relative;
	height: 100%;
	label.ImageUpload {
		width: 100%;
		height: 100%;
		margin: 0;
		margin-bottom: 0.5rem;
	}
	&:has([id='Images']) {
		grid-column: span 3;
		width: 100%;
		.ImagePreview {
			position: relative;
			Img {
				object-fit: contain;
				object-position: center;
				width: 100%;
				max-width: 150px;
				aspect-ratio: 4/3;
			}
			.DeleteImg {
				position: absolute;
				right: 0;
			}
		}
	}
}

// DROPDOWN MENUS
.dropdown {
	position: relative;
	label {
		padding: 0.25rem 1rem;
		font-size: 1rem;
	}
	div {
		font-size: inherit;
		border: 1px solid var(--light-color);
		display: flex;
		align-items: center;
		cursor: pointer;
		input {
			padding: 0.5rem;
			padding-left: 2.5rem;
			outline: none;
			border: none;
			border-radius: 5px;
			background: white;
			color: black;
			font-size: inherit;
			min-width: 250px;
			width: 100%;
			cursor: pointer;
		}
		svg {
			position: absolute;
			right: 1rem;
			fill: var(--light-color);
			cursor: pointer;
		}
		.Icon {
			position: absolute;
			left: 5px;
			font-size: 1.75rem;
			fill: var(--light-faded);
		}
	}
	.options {
		position: absolute;
		padding-bottom: 0.5rem;
		top: 100%;
		right: 0%;
		background: var(--light-color);
		display: block;
		width: 100%;
		border: 1px solid var(--light-color);
		z-index: 2;
		div {
			display: block;
			width: 100%;
			border: none;
			font-size: inherit;
			padding: 0.5rem;
			padding-left: 2.5rem;
			white-space: nowrap;
			overflow: hidden;
			cursor: pointer;
			text-overflow: ellipsis;
			&.selected {
				background: var(--light-color);
			}
			&:hover {
				background: var(--light-faded);
			}
		}
	}
}

// MULTI-SELECT OPTIONS
.MultiSelect {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column: span 3;
	gap: 0.25rem;
	border-radius: 5px;
	font-size: 0.8rem;
	&[name='Technology'] {
		.checkbox {
			padding: 0;
		}
		input[type='checkbox'] {
			display: none;
		}
		label {
			text-align: center;
			cursor: pointer;
			&:not(:has(.Icon)) {
				display: none;
			}
			.Icon {
				font-size: 1.75rem;
				fill: var(--light-color);
			}
		}
		label:has(input[value='true']) {
			.Icon {
				fill: white;
			}
		}
	}
}

// RICH TEXT EDITOR
.RichText {
	width: 100%;
	height: 200px;
	font-family: inherit;
	font-size: 0.85rem;
	button:active {
		background: var(--light-color);
	}
}

// EDIT MODE FOR INPUTS
.labelDiv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	label {
		padding: 0.25rem 1rem;
		font-size: 1rem;
	}
	.inputDiv {
		position: relative;
		.Icon {
			font-size: 1.5rem;
			position: absolute;
			left: 6px;
			top: 5px;
			fill: var(--light-faded);
			&.Date {
				cursor: pointer;
			}
			path {
				stroke: var(--light-color);
			}
		}
		.ShowPassword {
			font-size: 1.5rem;
			position: absolute;
			left: calc(250px - 1.5rem - 4px);
			cursor: pointer;
			fill: var(--primary-faded);
		}
		input,
		textarea {
			padding: 0.5rem 1rem;
			padding-left: 2.25rem;
			font-weight: 200;
			font-size: 1rem;
			border-radius: 5px;
			min-width: 250px;
			outline: none;
			border: none;
			background: white;
			color: var(--light-color);
			width: 100%;
		}
		textarea {
			padding: 0.5rem;
			font-size: 0.85rem;
			resize: none;
		}
	}
}

.split {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
	.inputDiv input {
		min-width: 100%;
	}
}

// READ-ONLY MODE (VIEW MODE)
.viewDiv {
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	.Icon {
		font-size: inherit;
		fill: white;
	}
	div {
		padding: 0.5rem 1rem;
		font-size: inherit;
	}
}
.hideDiv {
	display: none;
}
