:root {
  --primary-color: #367cff;
  --light-primary-color: #bad7fd;
  --light-color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Roboto Mono", monospace;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER STYLING */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 1.5rem;
  margin: 1rem 0;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}
header nav .active {
  border-bottom: 2px solid var(--primary-color);
}
header nav a:hover {
  border-bottom: 2px solid white;
}

* {
  box-sizing: border-box;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
