#Home {
	padding: 2rem;
	padding-top: 0;
	margin: auto;
	max-width: 1400px;
	/* MAIN */
	.main {
		min-height: 60vh;
		padding: 4rem 0;
		display: grid;
		grid-template-columns: 2fr 3fr;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 2rem;
		img {
			margin: 2rem;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		h1 {
			font-size: 2.5rem;
			span {
				display: block;
				color: var(--primary-color);
			}
		}
		.lead {
			margin: 0 2rem;
			font-size: 1.5rem;
			font-weight: 200;
		}
		.action {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 4rem 5rem 2rem;
			gap: 8rem;
			a {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 300px;
				padding: 1rem 2rem;
				font-size: 1.25rem;
				font-weight: 200;
				flex: 1;
			}
		}
	}
	/* SECTION */
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		&Lead {
			margin-top: 0;
			padding: 0 3rem;
			font-weight: 200;
			text-align: center;
			font-size: 0.9rem;
			line-height: 1.4rem;
		}
		.image {
			height: 150px;
		}
		table {
			border-collapse: collapse;
			margin: 1rem 0;
		}
		.tableHeader th {
			padding: 0.5rem 2rem;
		}
		thead {
			border-bottom: 1px solid white;
			margin-bottom: 0.25rem;
		}
		tfoot {
			border-top: 1px solid white;
			margin-top: 0.25rem;
			font-weight: bold;
		}
		td:first-child {
			text-align: right;
			padding: 0.25rem 1rem;
		}
		td:last-child {
			background: var(--light-color);
			padding: 0.25rem 4rem;
		}
	}
}

/* UTILITY */
.container {
	padding: 0 2rem;
}
.primary {
	background: var(--primary-color);
	color: white;
}
.secondary {
	border: 1px solid white;
}
.divider {
	width: 80%;
	border: 0;
	border-bottom: 2px solid var(--primary-color);
	max-width: 80%;
	padding: 0;
	margin-bottom: 1rem;
}

.title {
	margin: 0 auto;
	padding: 0.5rem;
	padding-bottom: 0;
	line-height: 1.15;
	font-size: 1.75rem;
	text-align: center;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

.lgIcon {
	font-size: 8rem;
	height: 100%;
	max-width: 100%;
	color: white;
	text-align: center;
	justify-self: center;
}

// CLIENTS AND CUSTOMERS
.Clients {
	margin-bottom: 3rem;
	.divider {
		border-bottom: 1px solid var(--light-color);
	}
	.flex {
		justify-content: space-around;
		align-items: flex-end;
		gap: 1rem;
		max-width: 100%;
		margin: 1rem 3rem;
	}
	.Client {
		height: 75px;
		max-width: 250px;
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
}

@media (max-width: 1400px) {
	.main {
		.action {
			gap: 4rem;
		}
	}
}

@media (max-width: 1200px) {
	#Home {
		padding: 0 3rem;
		padding-bottom: 2rem;
		.main {
			padding: 1rem 0;
			grid-template-columns: 1fr;
			h1 {
				font-size: 2rem;
			}
			.lead {
				font-size: 1.25rem;
			}
			img {
				margin: 0;
				height: 20rem;
				width: 20rem;
				justify-self: center;
			}
			.action {
				a {
					font-size: 1rem;
					padding: 1rem;
					min-width: 150px;
					max-width: 250px;
				}
			}
		}
		.divider {
			width: 60%;
		}
		.title {
			font-size: 1.5rem;
		}
		.grid {
			div {
				img {
					height: 75px;
				}
			}
		}
		.section {
			&:has(.ContactForm) {
				display: none;
			}
		}
	}
}

@media (max-width: 1000px) {
	#Home {
		padding: 0 1rem;
		padding-bottom: 3rem;
		.main {
			h1 {
				font-size: 1.75rem;
			}
			.lead {
				font-size: 1rem;
			}
			img {
				width: 15rem;
				height: 15rem;
			}
			.action {
				justify-content: space-evenly;
				margin: auto;
				margin-top: 4rem;
				margin-bottom: 2rem;
				flex-wrap: wrap;
				gap: 2rem;
			}
			.RecentWork {
				width: 100%;
			}
		}
		.grid {
			grid-template-columns: repeat(2, 1fr);
		}
		section {
			max-width: 100%;
			table {
				display: block;
				width: 80%;
				margin: auto;
				overflow: scroll;
				padding-bottom: 1rem;
				scroll-snap-type: inline mandatory;
				tr {
					position: relative;
					td {
						scroll-snap-align: start;
					}
					th:first-child,
					td:first-child {
						display: block;
						background: #121212;
						padding-left: 0;
						width: 150px;
						position: sticky;
						left: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	#Home {
		.main {
			img {
				width: 10rem;
				height: 10rem;
			}
		}
		.grid {
			width: 100%;
			display: flex;
			flex-direction: column;
			h3 {
				margin-top: 0;
			}
		}
		section {
			p {
				font-size: 0.9rem;
				line-height: 1.4rem;
				margin-top: 0;
			}
			table {
				tr {
					th {
						&:first-child {
							visibility: hidden;
						}
						&:not(:first-child) {
							writing-mode: vertical-lr;
							text-orientation: sideways-right;
							transform: rotate(210deg);
							text-align: left;
						}
					}
				}
			}
		}
	}
}
