.Card {
	display: grid;
	grid-template-columns: 2fr 4fr;
	border: 1px solid var(--light-faded);
	padding: 1rem;
	cursor: pointer;
	&:hover {
		box-shadow: 0 6px 8px -2px rgb(255 255 255 / 0.25),
			0 4px 6px -3px rgb(255 255 255 / 0.25);
		zoom: 1.005;
	}
	h3 {
		grid-column: span 2;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 1rem;
		font-weight: 600;
	}
	.MockUp {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 150px;
		img {
			aspect-ratio: 4 / 3;
		}
	}
	.Data {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 0.5rem;
		margin-left: 1rem;
		padding-top: 0.5rem;
		div {
			// REMOVE ANY UNDEFINED STATS
			display: none;
		}
		div[data-stats] {
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			&[data-stats='0'] {
				display: none;
			}
			svg {
				font-size: 1rem;
			}
			p {
				margin: 0;
				padding: 0;
			}
		}
	}
	.Technology {
		display: flex;
		align-items: flex-start;
		gap: 0.5rem;
		padding-top: 0.5rem;
	}
	p {
		padding: 0 1rem;
		padding-left: 0;
		font-size: 0.8rem;
		font-weight: 200;
		display: -webkit-box;
		line-height: 1.6;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

@media (max-width: 1300px) {
	.Card {
		min-height: 175px;
		h3 {
			font-weight: 400;
			font-size: 1rem;
		}
		.Panel {
			grid-column: span 2;
			&:has(.MockUp) {
				display: none;
			}
		}
		.Technology {
			grid-row-start: 2;
			grid-column: span 2;
			justify-content: flex-start;
			margin: 0.5rem 1rem;
			margin-top: 0;
		}
		p {
			grid-column: span 2;
			font-size: 0.8rem;
			margin: 0;
			-webkit-line-clamp: 4;
		}
	}
}
