#Project {
	margin: 0 auto;
	width: 80%;
	max-width: 1400px;
	.Heading {
		h1 {
			margin: 0;
			padding-bottom: 1rem;
			font-weight: 400;
			text-align: center;
		}
		.Stats {
			display: flex;
			justify-content: space-evenly;
			gap: 1rem;
			font-size: 1.1rem;
			flex-wrap: wrap;
			span {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				&:has(input) {
					gap: 0;
				}
				svg {
					font-size: 2rem;
				}
				h3 {
					margin: 0.5rem;
					> div {
						display: flex;
						div[class*='labelDiv'] {
							width: 50px;
							margin-right: 10px;
							div,
							input {
								min-width: 50px;
							}
						}
					}
				}
			}
		}
		p {
			font-size: 1.2rem;
			text-align: center;
			line-height: 1.9;
			font-weight: 200;
			padding-bottom: 1rem;
			div[class*='labelDiv'] {
				margin: 0;
				padding: 0;
				textarea {
					text-align: center;
					line-height: inherit;
					font-weight: inherit;
					font-size: inherit;
					background: inherit;
					color: inherit;
				}
			}
		}
		.Images {
			display: flex;
			gap: 1rem;
			.MockUpSelector {
				display: flex;
				justify-content: center;
				text-align: center;
				border-bottom: 1px solid white;
				div {
					width: 100%;
					cursor: pointer;
					border-radius: 5px 5px 0 0;
					&[aria-selected='true'] {
						background: var(--JOsborne-blue);
					}
				}
			}
			// MOCK-UP IMAGES
			> *:has(.MockUp) {
				min-width: 350px;
				align-self: flex-start;
			}
			div[class*='ImageUpload'] {
				margin: 0;
				min-width: 350px;
				aspect-ratio: 16/9;
				div,
				input {
					min-width: 50px;
				}
			}
			.MockUp {
				object-fit: contain;
				aspect-ratio: 16/9;
			}
			.Gallery {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;
				height: calc((113px * 2) + 0.5rem);
				overflow: scroll;
				overscroll-behavior: contain;
				scroll-snap-type: y mandatory;
				--scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {
					display: none;
				}
				> * {
					cursor: pointer;
					scroll-snap-align: start;
					max-width: 200px;
					max-height: 113px;
					aspect-ratio: 16/9;
					// width: auto;
					// height: auto;
				}
				img {
					aspect-ratio: 16/9;
					object-fit: contain;
				}
			}
		}
		.Technology {
			padding: 0.5rem 0;
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;
			h3 {
				margin: 0.5rem;
			}
			img {
				object-fit: contain;
			}
			fieldset {
				width: 100%;
				display: flex;
				gap: 2.5rem;
				font-size: 1.5rem;
				.Icon {
					font-size: 2.5rem;
				}
			}
		}
	}
	.Details {
		hr {
			margin: 2rem auto;
			color: var(--JOsborne-blue);
			width: 80%;
		}
		h4 {
			font-size: 1.25rem;
			margin: 0.5rem;
			padding-bottom: 0.5rem;
			clear: both;
		}
		p {
			margin: 0;
			padding-bottom: 1rem;
			font-size: 0.9rem;
			font-weight: 200;
			line-height: 1.8;
		}
		a {
			color: var(--JOsborne-blue);
			font-style: italic;
		}
		.ImgBlock {
			float: left;
			margin-right: 1rem;
			margin-bottom: 1rem;
			&Right {
				float: right;
				margin-left: 1rem;
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
		img {
			cursor: pointer;
			aspect-ratio: 16/9;
			min-width: 100px;
		}
	}

	.ImgModal {
		width: 100vw;
		height: 100vh;
		max-width: 100vw;
		max-height: 100vh;
		position: relative;
		border: none !important;
		padding-top: 1rem;
		outline: none;
		&::backdrop {
			background: var(--light-color);
		}
		.Close {
			position: absolute;
			cursor: pointer;
			right: 1rem;
			top: 1rem;
			font-size: 2rem;
			color: white;
			fill: white;
		}
		h3 {
			text-align: center;
		}
		.ImgViewer {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.ImgGallery {
			display: grid;
			gap: 2rem;
			margin: 0 auto;
			margin-top: 1rem;
			max-width: 1100px;
			overflow: hidden;
			overflow-x: scroll;
			overscroll-behavior-inline: contain;
			grid-auto-flow: column;
			grid-auto-columns: 178px;
			grid-template-rows: min-content;
			scroll-snap-type: inline mandatory;
			--scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				display: none;
			}
			div {
				scroll-snap-align: start;
				cursor: pointer;
				&[aria-selected='true'] {
					border: 5px solid var(--primary-color);
				}
			}
		}
	}
}

// MOBILE VIEW
@media (max-width: 600px) {
	#Project {
		width: 90%;
		.Heading {
			h1 {
				font-size: 1.4rem;
				margin-top: 0.5rem;
			}
			.Stats {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				justify-content: center;
				font-size: 0.8rem;
				gap: 0.5rem;
				span {
					svg {
						font-size: 1.25rem;
					}
					h3 {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			p {
				font-size: 0.9rem;
				line-height: 1.4rem;
			}
			.Images {
				flex-wrap: wrap;
				.Gallery {
					height: auto;
					width: 100%;
					justify-content: center;
					> * {
						max-height: 50px;
					}
				}
			}
			.Technology {
				justify-content: center;
				margin-bottom: 1rem;
				h3 {
					width: 100%;
					margin-top: 1rem;
					text-align: center;
				}
			}
		}
		.Details {
			h4 {
				font-size: 1.1rem;
			}
			p {
				text-align: center;
				font-size: 0.8rem;
			}
			hr {
				margin: 1rem auto;
			}
		}
		.ImgModal {
			h3 {
				margin-top: 2rem;
			}
		}
	}
}

@media (max-height: 400px) {
	#Project {
		.ImgModal {
			max-height: 100vh;
			display: flex;
			flex-wrap: wrap;
			padding-top: 0.5rem;
			h3 {
				margin-top: 0;
				width: 100%;
			}
			.Close {
				top: 0.5rem;
				right: 0.5rem;
			}
			.ImgViewer {
				align-items: flex-start;
				justify-content: flex-start;
				max-height: calc(100vh - 3rem);
				width: 75%;
				margin-bottom: 0.25rem;
				> * {
					max-height: 100%;
					img {
						object-fit: contain;
					}
				}
			}
			.ImgGallery {
				max-height: calc(100vh - 3rem);
				width: 25%;
				grid-auto-flow: row;
				gap: 1rem;
				overflow: scroll;
				margin-top: 0;
			}
		}
	}
}
